/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* Import the library theme */
@import '../../tolle/theme.css';
@import 'remixicon/fonts/remixicon.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


input,
textarea,
select {
  font-size: 16px !important;
}

pre,
code {
  max-width: 100%;
  overflow-x: auto;
}

table {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}