/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* Import the library theme */
@import '../../tolle/theme.css';
@import 'remixicon/fonts/remixicon.css';


input, textarea, select {
  font-size: 16px !important;
}

