name: Deploy Tolle UI & Docs (v18)

on:
  push:
    branches:
      - release-18

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build Documentation (tolle-ui-docs)
        run: |
          npm run build:docs

      - name: Deploy Documentation to AWS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USER }}
          key: ${{ secrets.AWS_SSH_KEY }}
          source: dist/docs/browser/*
          target: /var/www/v18-tolle-docs
          strip_components: 3
